{% extends "base.html.twig" %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block body %}
    <h1>{{ restaurant.name }}</h1>
    <div>{{ restaurant.description }}</div>
    <a href="{{ path('menu_list', {'restaurantName': restaurant.name|url_encode}) }}">{% trans %}menus{% endtrans %}</a>
{% endblock %}