<div>
    <div>{{ menuItem.name }}</div>
    {% if menuItem.price %}
        <div><span>{{ menuItem.price|format_currency(currency, {fraction_digit: 2}) }}</span></div>
    {% endif %}
    <div>{{ menuItem.description }}</div>
</div>