{# menuItem \App\Entity\MenuItem #}
{# section \App\Entity\MenuSection #}
<div>
    <div>{{ menuItem.name }}</div>
    {% if menuItem.price %}
        {% if section.displayCurrencySymbolOnChildren == true %}
            <span>{{ menuItem.price|format_currency(currency, {fraction_digit: 2}) }}</span>
        {% else %}
            <span>{{ menuItem.price|format_number }}</span>
        {% endif %}
    {% endif %}
    <div>{{ menuItem.description }}</div>
</div>