{% if section.titlePrice1 %}
    <span>{{ section.titlePrice1 }}</span>
{% endif %}
{% if section.titlePrice2 %}
    <span>{{ section.titlePrice2 }}</span>
{% endif %}
{% if section.titlePrice3 %}
    <span>{{ section.titlePrice3 }}</span>
{% endif %}
